<a href="https://colab.research.google.com/github/Soupy1184/BigData-Assignment1/blob/main/COMP4311_Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Initial Setup

In [ ]:
# import 
import pandas as pd
import numpy as np
import math
import random
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error 
import array as arr

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data.csv')

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 512 entries, 0 to 511
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   X1 Diff  512 non-null    float64
 1   X2 Diff  512 non-null    float64
 2   X3 Diff  512 non-null    float64
 3   X4 Diff  512 non-null    float64
 4   Odds     512 non-null    float64
dtypes: float64(5)
memory usage: 20.1 KB

In [ ]:
data.isnull().sum()

X1 Diff    0
X2 Diff    0
X3 Diff    0
X4 Diff    0
Odds       0
dtype: int64

In [ ]:
data_scaled = (data - data.min())/(data.max() - data.min())

In [ ]:
data_scaled.to_csv('/content/drive/MyDrive/Colab Notebooks/data_scaled.csv')

MEAN: 
- Missing data
- Imputing data
- Accuracy

In [ ]:
data_scaled = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data_scaled.csv')

In [ ]:
test_scaled, train_scaled = sklearn.model_selection.train_test_split(data_scaled, train_size=256, test_size=256)

In [ ]:
data_accuracy = train_scaled.append(test_scaled)
data_accuracy.head()

     Unnamed: 0   X1 Diff   X2 Diff   X3 Diff   X4 Diff      Odds
81           81  0.355626  0.464122  0.412088  0.368891  0.355263
352         352  0.597134  0.544549  0.576923  0.611929  0.155263
284         284  0.588287  0.567570  0.651099  0.651077  0.123684
223         223  0.548832  0.504285  0.423077  0.503416  0.139474
119         119  0.447098  0.504285  0.565934  0.498686  0.176316

CREATE MISSING DATA

In [ ]:
#reset data_scaled and set a new set of random missing numbers for KNN(1)
train_scaled['X1 Diff'] = train_scaled['X1 Diff'].sample(frac=0.50)
train_scaled['X2 Diff'] = train_scaled['X2 Diff'].sample(frac=0.50)
train_scaled['X3 Diff'] = train_scaled['X3 Diff'].sample(frac=0.50)
train_scaled['X4 Diff'] = train_scaled['X4 Diff'].sample(frac=0.50)
train_scaled['Odds'] = train_scaled['Odds'].sample(frac=0.50)
train_scaled.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

     Unnamed: 0   X1 Diff   X2 Diff   X3 Diff   X4 Diff      Odds
81           81       NaN       NaN  0.412088  0.368891       NaN
352         352  0.597134  0.544549       NaN  0.611929       NaN
284         284  0.588287  0.567570       NaN  0.651077       NaN
223         223       NaN  0.504285  0.423077  0.503416       NaN
119         119       NaN       NaN       NaN       NaN  0.176316

In [ ]:
#replace missing data by mean
train_scaled['X1 Diff'] = [test_scaled['X1 Diff'].mean() if math.isnan(x) else x for x in train_scaled['X1 Diff']]
train_scaled['X2 Diff'] = [test_scaled['X2 Diff'].mean() if math.isnan(x) else x for x in train_scaled['X2 Diff']]
train_scaled['X3 Diff'] = [test_scaled['X3 Diff'].mean() if math.isnan(x) else x for x in train_scaled['X3 Diff']]
train_scaled['X4 Diff'] = [test_scaled['X4 Diff'].mean() if math.isnan(x) else x for x in train_scaled['X4 Diff']]
train_scaled['Odds'] = [test_scaled['Odds'].mean() if math.isnan(x) else x for x in train_scaled['Odds']]
train_scaled.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

     Unnamed: 0   X1 Diff   X2 Diff   X3 Diff   X4 Diff      Odds
81           81  0.498399  0.493731  0.412088  0.368891  0.248540
352         352  0.597134  0.544549  0.487026  0.611929  0.248540
284         284  0.588287  0.567570  0.487026  0.651077  0.248540
223         223  0.498399  0.504285  0.423077  0.503416  0.248540
119         119  0.498399  0.493731  0.487026  0.489564  0.176316

In [ ]:
train_scaled.isnull().sum()

Unnamed: 0    0
X1 Diff       0
X2 Diff       0
X3 Diff       0
X4 Diff       0
Odds          0
dtype: int64

In [ ]:
result = train_scaled.append(test_scaled)
result.head()

     Unnamed: 0   X1 Diff   X2 Diff   X3 Diff   X4 Diff      Odds
81           81  0.498399  0.493731  0.412088  0.368891  0.248540
352         352  0.597134  0.544549  0.487026  0.611929  0.248540
284         284  0.588287  0.567570  0.487026  0.651077  0.248540
223         223  0.498399  0.504285  0.423077  0.503416  0.248540
119         119  0.498399  0.493731  0.487026  0.489564  0.176316

CALCULAT MSE

In [ ]:
#calculate accruacy for KNN(1)
#result and data_accuracy
mse = 0

for i in range (0, 512):
  observed = data_accuracy[['X1 Diff', 'X2 Diff', 'X3 Diff', 'X4 Diff', 'Odds']].iloc[i].values
  predicted = result[['X1 Diff', 'X2 Diff', 'X3 Diff', 'X4 Diff', 'Odds']].iloc[i].values
  
  for x in range (0, 5):
    mse += ((observed[x] - predicted[x])**2) 

mse = mse * (1/len(result))   
  
print(mse)

0.019313048899641264

KNN (1):
- Missing data
- Imputing data
- Accuracy

In [ ]:
data_scaled = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data_scaled.csv')

In [ ]:
test_scaled, train_scaled = sklearn.model_selection.train_test_split(data_scaled, train_size=256, test_size=256)

In [ ]:
data_accuracy = train_scaled.append(test_scaled)
data_accuracy.head()

     Unnamed: 0   X1 Diff   X2 Diff   X3 Diff   X4 Diff      Odds
73           73  0.324133  0.440004  0.524725  0.368103  0.355263
40           40  0.567233  0.676500  0.947802  0.831056  0.202632
79           79  0.660828  0.429540  0.285714  0.449291  0.236842
286         286  0.573956  0.514451  0.557692  0.567788  0.213158
372         372  0.598018  0.431832  0.414835  0.461377  0.144737

In [ ]:
def euclidDis(a, b):
  sum = 0
  for x, y in zip(a, b):
    if math.isnan(x):
      pass
    else:
      sum += (x - y)**2
      
  return math.sqrt(sum)

CREATE MISSING DATA

In [ ]:
#reset data_scaled and set a new set of random missing numbers for KNN(1)
train_scaled['X1 Diff'] = train_scaled['X1 Diff'].sample(frac=0.50)
train_scaled['X2 Diff'] = train_scaled['X2 Diff'].sample(frac=0.50)
train_scaled['X3 Diff'] = train_scaled['X3 Diff'].sample(frac=0.50)
train_scaled['X4 Diff'] = train_scaled['X4 Diff'].sample(frac=0.50)
train_scaled['Odds'] = train_scaled['Odds'].sample(frac=0.50)
train_scaled.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

     Unnamed: 0   X1 Diff   X2 Diff   X3 Diff   X4 Diff      Odds
73           73  0.324133  0.440004       NaN  0.368103  0.355263
40           40       NaN  0.676500       NaN  0.831056  0.202632
79           79       NaN  0.429540  0.285714       NaN  0.236842
286         286  0.573956       NaN       NaN       NaN  0.213158
372         372       NaN       NaN  0.414835       NaN  0.144737

IMPUTE MISSING DATA

In [ ]:
#replace missing data for KNN(1)

for i in range (0, 256):
  row = train_scaled[['X1 Diff', 'X2 Diff', 'X3 Diff', 'X4 Diff', 'Odds']].iloc[i].values
  distance = []
  count = 0
  for j in test_scaled[['X1 Diff', 'X2 Diff', 'X3 Diff', 'X4 Diff', 'Odds']].values:
    distance.append(euclidDis(row, j))
    
  m = test_scaled[['X1 Diff', 'X2 Diff', 'X3 Diff', 'X4 Diff', 'Odds']].iloc[distance.index(min(distance))].values
  
  for x in range (0, 5):
    if math.isnan(row[x]):
      row[x] = m[x]

  train_scaled['X1 Diff'].iloc[i] = row[0]
  train_scaled['X2 Diff'].iloc[i] = row[1]
  train_scaled['X3 Diff'].iloc[i] = row[2]
  train_scaled['X4 Diff'].iloc[i] = row[3]
  train_scaled['Odds'].iloc[i] = row[4]

# print(distance)

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
train_scaled.isnull().sum()

Unnamed: 0    0
X1 Diff       0
X2 Diff       0
X3 Diff       0
X4 Diff       0
Odds          0
dtype: int64

In [ ]:
result = train_scaled.append(test_scaled)
result.head()

     Unnamed: 0   X1 Diff   X2 Diff   X3 Diff   X4 Diff      Odds
73           73  0.324133  0.440004  0.494505  0.368103  0.355263
40           40  0.525655  0.676500  0.953297  0.831056  0.202632
79           79  0.610580  0.429540  0.285714  0.445087  0.236842
286         286  0.573956  0.450967  0.395604  0.466894  0.213158
372         372  0.548832  0.504285  0.414835  0.503416  0.144737

CALCULATE MSE

In [ ]:
#calculate accruacy for KNN(1)
#result and data_accuracy
mse = 0

for i in range (0, 512):
  observed = data_accuracy[['X1 Diff', 'X2 Diff', 'X3 Diff', 'X4 Diff', 'Odds']].iloc[i].values
  predicted = result[['X1 Diff', 'X2 Diff', 'X3 Diff', 'X4 Diff', 'Odds']].iloc[i].values
  
  for x in range (0, 5):
    mse += ((observed[x] - predicted[x])**2) 

mse = mse * (1/len(result))   
  
print(mse)

0.019200898204953736

KNN (3):
- Missing data
- Imputing data
- Accuracy

In [ ]:
def findThreeClosest(distance):
  min1 = max(distance)
  min2 = max(distance)
  min3 = max(distance)
  index1 = 0
  index2 = 0
  index3 = 0
  for e in range(0, len(distance)):
    if distance[e] < min1:
      min2 = min1
      min1 = distance[e]
      index2 = index1
      index1 = e
    elif distance[e] < min2:
      min3 = min2
      min2 = distance[e]
      index3 = index2
      index2 = e
  # print(index3)
  m1 = test_scaled[['X1 Diff', 'X2 Diff', 'X3 Diff', 'X4 Diff', 'Odds']].iloc[index1].values
  m2 = test_scaled[['X1 Diff', 'X2 Diff', 'X3 Diff', 'X4 Diff', 'Odds']].iloc[index2].values
  m3 = test_scaled[['X1 Diff', 'X2 Diff', 'X3 Diff', 'X4 Diff', 'Odds']].iloc[index3].values 
  return m1, m2, m3

SETUP

In [ ]:
data_scaled = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data_scaled.csv')

In [ ]:
test_scaled, train_scaled = sklearn.model_selection.train_test_split(data_scaled, train_size=256, test_size=256)

In [ ]:
data_accuracy = train_scaled.append(test_scaled)
data_accuracy.head()

     Unnamed: 0   X1 Diff   X2 Diff   X3 Diff   X4 Diff      Odds
171         171  0.437544  0.500498  0.618132  0.507094  0.136842
20           20  0.593949  0.520032  0.472527  0.555439  0.342105
227         227  0.363057  0.600558  0.807692  0.618760  0.168421
48           48  0.263800  0.555312  0.686813  0.491329  0.315789
467         467  0.557502  0.455252  0.414835  0.461902  0.131579

CREATE MISSING DATA

In [ ]:
#reset data_scaled and set a new set of random missing numbers for KNN(1)
train_scaled['X1 Diff'] = train_scaled['X1 Diff'].sample(frac=0.50)
train_scaled['X2 Diff'] = train_scaled['X2 Diff'].sample(frac=0.50)
train_scaled['X3 Diff'] = train_scaled['X3 Diff'].sample(frac=0.50)
train_scaled['X4 Diff'] = train_scaled['X4 Diff'].sample(frac=0.50)
train_scaled['Odds'] = train_scaled['Odds'].sample(frac=0.50)
train_scaled.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

     Unnamed: 0   X1 Diff   X2 Diff   X3 Diff   X4 Diff      Odds
171         171       NaN  0.500498       NaN  0.507094  0.136842
20           20  0.593949  0.520032       NaN  0.555439       NaN
227         227       NaN  0.600558  0.807692       NaN  0.168421
48           48       NaN       NaN       NaN       NaN       NaN
467         467       NaN       NaN       NaN  0.461902       NaN

IMPUTE MISSING DATA

In [ ]:

for i in range (0, 256):
  row = train_scaled[['X1 Diff', 'X2 Diff', 'X3 Diff', 'X4 Diff', 'Odds']].iloc[i].values
  distance = []
  count = 0
  for j in test_scaled[['X1 Diff', 'X2 Diff', 'X3 Diff', 'X4 Diff', 'Odds']].values:
    distance.append(euclidDis(row, j))

  m1, m2, m3 = findThreeClosest(distance)

  avg = []

  for a in range(0, 5):
    avg.append((m1[a] + m2[a] + m3[a])/3)  

  for x in range(0, 5):
    if math.isnan(row[x]):
      row[x] = avg[x]

  train_scaled['X1 Diff'].iloc[i] = row[0]
  train_scaled['X2 Diff'].iloc[i] = row[1]
  train_scaled['X3 Diff'].iloc[i] = row[2]
  train_scaled['X4 Diff'].iloc[i] = row[3]
  train_scaled['Odds'].iloc[i] = row[4]

# print(distance)

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
train_scaled.isnull().sum()

Unnamed: 0    0
X1 Diff       0
X2 Diff       0
X3 Diff       0
X4 Diff       0
Odds          0
dtype: int64

In [ ]:
result = train_scaled.append(test_scaled)
result.head()

     Unnamed: 0   X1 Diff   X2 Diff   X3 Diff   X4 Diff      Odds
171         171  0.523237  0.500498  0.464286  0.507094  0.136842
20           20  0.593949  0.520032  0.510073  0.555439  0.220175
227         227  0.520111  0.600558  0.807692  0.691540  0.168421
48           48  0.567056  0.455551  0.302198  0.431161  0.184211
467         467  0.561630  0.450369  0.421245  0.461902  0.171930

CALCULATE MSE

In [ ]:
#calculate accruacy for KNN(3)
#result and data_accuracy
mse = 0

for i in range (0, 512):
  observed = data_accuracy[['X1 Diff', 'X2 Diff', 'X3 Diff', 'X4 Diff', 'Odds']].iloc[i].values
  predicted = result[['X1 Diff', 'X2 Diff', 'X3 Diff', 'X4 Diff', 'Odds']].iloc[i].values
  
  for x in range (0, 5):
    mse += ((observed[x] - predicted[x])**2) 

mse = mse * (1/len(result))   
  
print(mse)

0.012956983705605147

KNN (5):
- Missing data
- Imputing data
- Accuracy

FIVE CLOSEST DISTANCES FUNCTION

In [ ]:
def findFiveClosest(distance):
  min1 = max(distance)
  min2 = max(distance)
  min3 = max(distance)
  min4 = max(distance)
  min5 = max(distance)
  index1 = 0
  index2 = 0
  index3 = 0
  index4 = 0
  index5 = 0
  #this loop finds the 5 smallest distances in the distances array
  for e in range(0, len(distance)):
    if distance[e] < min1:
      min2 = min1
      min1 = distance[e]
      index2 = index1
      index1 = e
    elif distance[e] < min2:
      min3 = min2
      min2 = distance[e]
      index3 = index2
      index2 = e
    elif distance[e] < min3:
      min4 = min3
      min3 = distance[e]
      index4 = index3
      index3 = e
    elif distance[e] < min4:
      min5 = min4
      min4 = distance[e]
      index5 = index4
      index4 = e
  # sets the values at the index of the of five smallest distances 
  m1 = test_scaled[['X1 Diff', 'X2 Diff', 'X3 Diff', 'X4 Diff', 'Odds']].iloc[index1].values
  m2 = test_scaled[['X1 Diff', 'X2 Diff', 'X3 Diff', 'X4 Diff', 'Odds']].iloc[index2].values
  m3 = test_scaled[['X1 Diff', 'X2 Diff', 'X3 Diff', 'X4 Diff', 'Odds']].iloc[index3].values 
  m4 = test_scaled[['X1 Diff', 'X2 Diff', 'X3 Diff', 'X4 Diff', 'Odds']].iloc[index4].values
  m5 = test_scaled[['X1 Diff', 'X2 Diff', 'X3 Diff', 'X4 Diff', 'Odds']].iloc[index5].values
  return m1, m2, m3, m4, m5

SETUP

In [ ]:
data_scaled = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data_scaled.csv')

In [ ]:
test_scaled, train_scaled = sklearn.model_selection.train_test_split(data_scaled, train_size=256, test_size=256)

In [ ]:
data_accuracy = train_scaled.append(test_scaled)
data_accuracy.head()

     Unnamed: 0   X1 Diff   X2 Diff   X3 Diff   X4 Diff      Odds
189         189  0.037155  0.483456  0.480769  0.250131  0.381579
32           32  0.391366  0.478174  0.489011  0.423542  0.236842
393         393  0.508316  0.479071  0.472527  0.476879  0.276316
12           12  0.503008  0.534881  0.568681  0.554125  0.213158
13           13  0.496992  0.465119  0.431319  0.445875  0.213158

In [ ]:
#reset data_scaled and set a new set of random missing numbers for KNN(1)
train_scaled['X1 Diff'] = train_scaled['X1 Diff'].sample(frac=0.50)
train_scaled['X2 Diff'] = train_scaled['X2 Diff'].sample(frac=0.50)
train_scaled['X3 Diff'] = train_scaled['X3 Diff'].sample(frac=0.50)
train_scaled['X4 Diff'] = train_scaled['X4 Diff'].sample(frac=0.50)
train_scaled['Odds'] = train_scaled['Odds'].sample(frac=0.50)
train_scaled.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

     Unnamed: 0   X1 Diff   X2 Diff   X3 Diff   X4 Diff      Odds
189         189  0.037155       NaN  0.480769  0.250131       NaN
32           32       NaN  0.478174  0.489011  0.423542       NaN
393         393       NaN       NaN  0.472527  0.476879       NaN
12           12       NaN  0.534881  0.568681  0.554125       NaN
13           13       NaN       NaN       NaN       NaN  0.213158

In [ ]:
train_scaled.isnull().sum()

Unnamed: 0      0
X1 Diff       128
X2 Diff       128
X3 Diff       128
X4 Diff       128
Odds          128
dtype: int64

In [ ]:

for i in range (0, 256):
  #sets current row 
  row = train_scaled[['X1 Diff', 'X2 Diff', 'X3 Diff', 'X4 Diff', 'Odds']].iloc[i].values
  distance = [] #resets distance to blank
  #loops through the test set to create an array of distances
  for j in test_scaled[['X1 Diff', 'X2 Diff', 'X3 Diff', 'X4 Diff', 'Odds']].values:
    distance.append(euclidDis(row, j))
  #reset all values for each time through the loop
  
  m1, m2, m3, m4, m5 = findFiveClosest(distance)
  
  avg = [] # resets avg list
  #loops through to set average values
  for a in range(0, 5):
    avg.append((m1[a] + m2[a] + m3[a] + m4[a] + m5[a])/5)  

  for x in range(0, 5):
    if math.isnan(row[x]):
      row[x] = avg[x]

  train_scaled['X1 Diff'].iloc[i] = row[0]
  train_scaled['X2 Diff'].iloc[i] = row[1]
  train_scaled['X3 Diff'].iloc[i] = row[2]
  train_scaled['X4 Diff'].iloc[i] = row[3]
  train_scaled['Odds'].iloc[i] = row[4]

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
train_scaled.isnull().sum()

Unnamed: 0    0
X1 Diff       0
X2 Diff       0
X3 Diff       0
X4 Diff       0
Odds          0
dtype: int64

In [ ]:
result = train_scaled.append(test_scaled)
result.head()

     Unnamed: 0   X1 Diff   X2 Diff   X3 Diff   X4 Diff      Odds
189         189  0.037155  0.488459  0.480769  0.250131  0.473684
32           32  0.397983  0.478174  0.489011  0.423542  0.339474
393         393  0.464260  0.508451  0.472527  0.476879  0.266842
12           12  0.489632  0.534881  0.568681  0.554125  0.173158
13           13  0.515817  0.536596  0.570330  0.562428  0.213158

In [ ]:
#calculate accruacy for KNN(1)
#result and data_accuracy
mse = 0

for i in range (0, 512):
  observed = data_accuracy[['X1 Diff', 'X2 Diff', 'X3 Diff', 'X4 Diff', 'Odds']].iloc[i].values
  predicted = result[['X1 Diff', 'X2 Diff', 'X3 Diff', 'X4 Diff', 'Odds']].iloc[i].values
  
  for x in range (0, 5):
    mse += ((observed[x] - predicted[x])**2) 

mse = mse * (1/len(result))   
  
print(mse)

0.010230886335028997

Weighted KNN (1):
- Missing data
- Imputing data
- Accuracy

In [ ]:
data_scaled = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data_scaled.csv')

In [ ]:
test_scaled, train_scaled = sklearn.model_selection.train_test_split(data_scaled, train_size=256, test_size=256)

In [ ]:
data_accuracy = train_scaled.append(test_scaled)
data_accuracy.head()

     Unnamed: 0   X1 Diff   X2 Diff   X3 Diff   X4 Diff      Odds
371         371  0.601380  0.559996  0.609890  0.637940  0.073684
294         294  0.517870  0.448575  0.357143  0.418024  0.168421
417         417  0.657113  0.467510  0.384615  0.512612  0.105263
190         190  0.570594  0.504883  0.489011  0.535733  0.355263
129         129  0.289101  0.431533  0.461538  0.323174  0.368421

CREATE MISSING DATA

In [ ]:
#reset data_scaled and set a new set of random missing numbers for weighted KNN(1)
train_scaled['X1 Diff'] = train_scaled['X1 Diff'].sample(frac=0.50)
train_scaled['X2 Diff'] = train_scaled['X2 Diff'].sample(frac=0.50)
train_scaled['X3 Diff'] = train_scaled['X3 Diff'].sample(frac=0.50)
train_scaled['X4 Diff'] = train_scaled['X4 Diff'].sample(frac=0.50)
train_scaled['Odds'] = train_scaled['Odds'].sample(frac=0.50)
train_scaled.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

     Unnamed: 0   X1 Diff   X2 Diff   X3 Diff   X4 Diff      Odds
371         371       NaN       NaN  0.609890       NaN  0.073684
294         294  0.517870  0.448575  0.357143       NaN  0.168421
417         417  0.657113       NaN  0.384615       NaN  0.105263
190         190       NaN  0.504883       NaN  0.535733       NaN
129         129  0.289101  0.431533       NaN  0.323174  0.368421

In [ ]:
train_scaled.isnull().sum()

Unnamed: 0      0
X1 Diff       128
X2 Diff       128
X3 Diff       128
X4 Diff       128
Odds          128
dtype: int64

IMPUTE MISSING DATA

In [ ]:

for i in range (0, 256):
  #sets current row 
  row = train_scaled[['X1 Diff', 'X2 Diff', 'X3 Diff', 'X4 Diff', 'Odds']].iloc[i].values
  distance = [] #resets distance to blank
  #loops through the test set to create an array of distances
  for j in test_scaled[['X1 Diff', 'X2 Diff', 'X3 Diff', 'X4 Diff', 'Odds']].values:
    distance.append(euclidDis(row, j))
  
  #replace missing data by mean
  m = test_scaled[['X1 Diff', 'X2 Diff', 'X3 Diff', 'X4 Diff', 'Odds']].iloc[distance.index(min(distance))].values

  for x in range(0, 5):
    if math.isnan(row[x]):
      row[x] = m[x]

  train_scaled['X1 Diff'].iloc[i] = row[0]
  train_scaled['X2 Diff'].iloc[i] = row[1]
  train_scaled['X3 Diff'].iloc[i] = row[2]
  train_scaled['X4 Diff'].iloc[i] = row[3]
  train_scaled['Odds'].iloc[i] = row[4]

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
train_scaled.isnull().sum()

Unnamed: 0    0
X1 Diff       0
X2 Diff       0
X3 Diff       0
X4 Diff       0
Odds          0
dtype: int64

In [ ]:
result = train_scaled.append(test_scaled)
result.head()

     Unnamed: 0   X1 Diff   X2 Diff   X3 Diff   X4 Diff      Odds
371         371  0.667905  0.515746  0.609890  0.630321  0.073684
294         294  0.517870  0.448575  0.357143  0.405413  0.168421
417         417  0.657113  0.482260  0.384615  0.519706  0.105263
190         190  0.515039  0.504883  0.560440  0.535733  0.302632
129         129  0.289101  0.431533  0.379121  0.323174  0.368421

CALCULATE MSE

In [ ]:
#calculate accruacy for WEIGHTED KNN(1)
#result and data_accuracy
mse = 0

for i in range (0, 512):
  observed = data_accuracy[['X1 Diff', 'X2 Diff', 'X3 Diff', 'X4 Diff', 'Odds']].iloc[i].values
  predicted = result[['X1 Diff', 'X2 Diff', 'X3 Diff', 'X4 Diff', 'Odds']].iloc[i].values
  
  for x in range (0, 5):
    mse += ((observed[x] - predicted[x])**2) 

mse = mse * (1/len(result))   
  
print(mse)

0.016772173321864592

Weighted KNN (3):
- Missing data
- Imputing data
- Accuracy

In [ ]:
data_scaled = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data_scaled.csv')

In [ ]:
test_scaled, train_scaled = sklearn.model_selection.train_test_split(data_scaled, train_size=256, test_size=256)

In [ ]:
data_accuracy = train_scaled.append(test_scaled)
data_accuracy.head()

     Unnamed: 0   X1 Diff   X2 Diff   X3 Diff   X4 Diff      Odds
107         107  0.547594  0.570660  0.725275  0.657383  0.057895
281         281  0.370665  0.450369  0.373626  0.352076  0.289474
370         370  0.398620  0.440004  0.390110  0.362060  0.552632
391         391  0.576256  0.392964  0.225275  0.356017  0.236842
497         497  0.534855  0.460634  0.461538  0.470573  0.192105

CREATE MISSING DATA

In [ ]:
#reset data_scaled and set a new set of random missing numbers for weighted KNN(3)
train_scaled['X1 Diff'] = train_scaled['X1 Diff'].sample(frac=0.50)
train_scaled['X2 Diff'] = train_scaled['X2 Diff'].sample(frac=0.50)
train_scaled['X3 Diff'] = train_scaled['X3 Diff'].sample(frac=0.50)
train_scaled['X4 Diff'] = train_scaled['X4 Diff'].sample(frac=0.50)
train_scaled['Odds'] = train_scaled['Odds'].sample(frac=0.50)
train_scaled.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

     Unnamed: 0   X1 Diff   X2 Diff   X3 Diff   X4 Diff      Odds
107         107  0.547594  0.570660  0.725275  0.657383  0.057895
281         281  0.370665  0.450369       NaN       NaN       NaN
370         370       NaN       NaN  0.390110  0.362060       NaN
391         391       NaN       NaN  0.225275       NaN       NaN
497         497  0.534855       NaN       NaN  0.470573       NaN

In [ ]:
train_scaled.isnull().sum()

Unnamed: 0      0
X1 Diff       128
X2 Diff       128
X3 Diff       128
X4 Diff       128
Odds          128
dtype: int64

IMPUTE MISSING DATA

In [ ]:
#weights for weigted average
#the closer distances are wegithed twice as heavily as the following distances
#distance 1 is weighted twice as much as distance 2
#distance 2 is weighted twice as much as distance 3

a1 = 0.5714285716
a2 = 0.2857142858
a3 = 0.1428571429

for i in range (0, 256):
  #sets current row 
  row = train_scaled[['X1 Diff', 'X2 Diff', 'X3 Diff', 'X4 Diff', 'Odds']].iloc[i].values
  distance = [] #resets distance to blank
  #loops through the test set to create an array of distances
  for j in test_scaled[['X1 Diff', 'X2 Diff', 'X3 Diff', 'X4 Diff', 'Odds']].values:
    distance.append(euclidDis(row, j))
  
  #replace missing data by weighted mean
  m1, m2, m3 = findThreeClosest(distance)

  avg = []

  for a in range(0, 5):
    avg.append((m1[a]*a1) + (m2[a]*a2) + (m3[a]*a3))

  for x in range(0, 5):
    if math.isnan(row[x]):
      row[x] = m[x]

  train_scaled['X1 Diff'].iloc[i] = row[0]
  train_scaled['X2 Diff'].iloc[i] = row[1]
  train_scaled['X3 Diff'].iloc[i] = row[2]
  train_scaled['X4 Diff'].iloc[i] = row[3]
  train_scaled['Odds'].iloc[i] = row[4]

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
train_scaled.isnull().sum()

Unnamed: 0    0
X1 Diff       0
X2 Diff       0
X3 Diff       0
X4 Diff       0
Odds          0
dtype: int64

In [ ]:
result = train_scaled.append(test_scaled)
result.head()

     Unnamed: 0   X1 Diff   X2 Diff   X3 Diff   X4 Diff      Odds
107         107  0.547594  0.570660  0.725275  0.657383  0.057895
281         281  0.370665  0.450369  0.434066  0.492118  0.121053
370         370  0.562810  0.479669  0.390110  0.362060  0.121053
391         391  0.562810  0.479669  0.225275  0.492118  0.121053
497         497  0.534855  0.479669  0.434066  0.470573  0.121053

CALCULATE MSE

In [ ]:
#calculate accruacy for WEIGHTED KNN(3)
#result and data_accuracy
mse = 0

for i in range (0, 512):
  observed = data_accuracy[['X1 Diff', 'X2 Diff', 'X3 Diff', 'X4 Diff', 'Odds']].iloc[i].values
  predicted = result[['X1 Diff', 'X2 Diff', 'X3 Diff', 'X4 Diff', 'Odds']].iloc[i].values
  
  for x in range (0, 5):
    mse += ((observed[x] - predicted[x])**2) 

mse = mse * (1/len(result))   
  
print(mse)

0.02323671592883831

Weighted KNN (5):
- Missing data
- Imputing data
- Accuracy

In [ ]:
data_scaled = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data_scaled.csv')

In [ ]:
test_scaled, train_scaled = sklearn.model_selection.train_test_split(data_scaled, train_size=256, test_size=256)

In [ ]:
data_accuracy = train_scaled.append(test_scaled)
data_accuracy.head()

     Unnamed: 0   X1 Diff   X2 Diff   X3 Diff   X4 Diff      Odds
457         457  0.498054  0.535180  0.535714  0.541251  0.186842
97           97  0.369958  0.539565  0.516484  0.475828  0.223684
305         305  0.528662  0.516145  0.552198  0.544929  0.136842
169         169  0.322010  0.453857  0.436813  0.351287  0.355263
43           43  0.463022  0.478174  0.362637  0.418812  0.289474

CREATE MISSING DATA

In [ ]:
#reset data_scaled and set a new set of random missing numbers for weighted KNN(5)
train_scaled['X1 Diff'] = train_scaled['X1 Diff'].sample(frac=0.50)
train_scaled['X2 Diff'] = train_scaled['X2 Diff'].sample(frac=0.50)
train_scaled['X3 Diff'] = train_scaled['X3 Diff'].sample(frac=0.50)
train_scaled['X4 Diff'] = train_scaled['X4 Diff'].sample(frac=0.50)
train_scaled['Odds'] = train_scaled['Odds'].sample(frac=0.50)
train_scaled.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

     Unnamed: 0   X1 Diff   X2 Diff   X3 Diff   X4 Diff      Odds
457         457  0.498054  0.535180  0.535714       NaN  0.186842
97           97  0.369958  0.539565  0.516484       NaN  0.223684
305         305       NaN  0.516145       NaN       NaN  0.136842
169         169       NaN  0.453857       NaN  0.351287       NaN
43           43       NaN       NaN  0.362637       NaN       NaN

In [ ]:
train_scaled.isnull().sum()

Unnamed: 0      0
X1 Diff       128
X2 Diff       128
X3 Diff       128
X4 Diff       128
Odds          128
dtype: int64

IMPUTE MISSING DATA

In [ ]:
#weights for weigted average
#the closer distances are wegithed twice as heavily as the following distances
#distance 1 is weighted twice as much as distance 2
#distance 2 is weighted twice as much as distance 3

a1 = 0.5161290323
a2 = 0.2580645162
a3 = 0.1290322581
a4 = 0.06451612904
a5 = 0.03225806452

for i in range (0, 256):
  #sets current row 
  row = train_scaled[['X1 Diff', 'X2 Diff', 'X3 Diff', 'X4 Diff', 'Odds']].iloc[i].values
  distance = [] #resets distance to blank
  #loops through the test set to create an array of distances
  for j in test_scaled[['X1 Diff', 'X2 Diff', 'X3 Diff', 'X4 Diff', 'Odds']].values:
    distance.append(euclidDis(row, j))
 
  m1, m2, m3, m4, m5 = findFiveClosest(distance)
  
  avg = [] # resets avg list
  #loops through to set average values
  for a in range(0, 5):
    avg.append((m1[a]*a1) + (m2[a]*a2) + (m3[a]*a3) + (m4[a]*a4) + (m5[a]*a5)) 

  for x in range(0, 5):
    if math.isnan(row[x]):
      row[x] = m[x]

  train_scaled['X1 Diff'].iloc[i] = row[0]
  train_scaled['X2 Diff'].iloc[i] = row[1]
  train_scaled['X3 Diff'].iloc[i] = row[2]
  train_scaled['X4 Diff'].iloc[i] = row[3]
  train_scaled['Odds'].iloc[i] = row[4]

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
train_scaled.isnull().sum()

Unnamed: 0    0
X1 Diff       0
X2 Diff       0
X3 Diff       0
X4 Diff       0
Odds          0
dtype: int64

In [ ]:
result = train_scaled.append(test_scaled)
result.head()

     Unnamed: 0   X1 Diff   X2 Diff   X3 Diff   X4 Diff      Odds
457         457  0.498054  0.535180  0.535714  0.492118  0.186842
97           97  0.369958  0.539565  0.516484  0.492118  0.223684
305         305  0.562810  0.516145  0.434066  0.492118  0.136842
169         169  0.562810  0.453857  0.434066  0.351287  0.121053
43           43  0.562810  0.479669  0.362637  0.492118  0.121053

CALCULATE MSE

In [ ]:
#calculate accruacy for WEIGHTED KNN(3)
#result and data_accuracy
mse = 0

for i in range (0, 512):
  observed = data_accuracy[['X1 Diff', 'X2 Diff', 'X3 Diff', 'X4 Diff', 'Odds']].iloc[i].values
  predicted = result[['X1 Diff', 'X2 Diff', 'X3 Diff', 'X4 Diff', 'Odds']].iloc[i].values
  
  for x in range (0, 5):
    mse += ((observed[x] - predicted[x])**2) 

mse = mse * (1/len(result))   
  
print(mse)

0.025455049783568957